table {
    width: 100%;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header{
    display: flex;
    justify-content: center; 
  }
  h1{
    text-align: center;
    margin: 2rem;
  }
  .search{
    flex: 1;
    width: 50%;
    margin: 1rem;
    float: right;
}

.header > div > button {
    flex: 1;
}

.rating{
    display: flex;
    flex-direction: column;
}
.rate{
    flex: 1;
}
.count{
    flex : 1;
}
label{
    margin-top: 1rem;
}
.button_top{
  padding: 0.5rem;
  font-size: 12px;
  color: white;
  border: none;
  background-color: rgb(11, 33, 40);
  margin: 1em;
  border-radius: 3px;
}

.button_transperant{
  padding: 0.5rem;
  font-size: 12px;
  color: black;
  border: none;
  background-color: transparent;
  margin: 1em;
  border-radius: 3px;
}

.button_D{
  padding: 0.5rem;
  font-size: 12px;
  color: black;
  border: none;
  background-color: transparent;
  border-radius: 1px;
}

.button_D:hover{
  background-color: white;
  border-bottom: 5px solid black;
}
// img{
//   padding: 5px;
// }